body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: black;

    
}

.about-section{
background-color: lightcyan;
font-size: 20px;
}


.card-container {
display: flex;
flex-direction: column;
}

.card {
    flex: 1;
    background-color: lavenderblush;
    padding: 20px;
    margin: 10px;  
    border-radius: 5px;
  }
  

  .card-content {
    font-size: 15px;
    color: grey;
    
  }
  
  footer.page-footer {
    padding-top: 1;
    text-align: right;
    position: relative;
    background-color:lightgrey;
    font-size: 30px;
  }

  

  
  .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px; 
    background-color: antiquewhite;
  }

  .signup-form {
    margin-left: 20px; 
    background-color: antiquewhite;
  }

  .login-form{
    margin-left: 20px; 

  }

  .login-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 90px; 
    background-color: antiquewhite;
  }

