body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: black;
}

.about-section{
background-color: lightcyan;
font-size: 20px;
}


.addTripImg {
    position: relative;
    bottom: 45vh;
    left: 30vh;
    border-radius: 50%;

    
}


.card-container {
display: flex;
flex-direction: column;
}

.card {
    flex: 1;
    background-color: lavenderblush;
    padding: 20px;
    margin: 10px;  
    border-radius: 5px;
    
  }
  

  .card-content {
    font-size: 18px;
  }
  
  


  footer.page-footer {
    padding-top: 1;
    text-align: right;
    position: relative;
    background-color:lightgrey;
  }


  
  