body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: black;
    /* background-image: url("/static/assets/images/hero_img.png");
    background-repeat: no-repeat;
    background-size: cover; */
    
}

.about-section{
background-color: lightcyan;
font-size: 20px;
}


.card-container {
display: flex;
flex-direction: column;
}

.card {
    flex: 1;
    background-color: lavenderblush;
    padding: 20px;
    margin: 10px;  
    border-radius: 5px;
  }
  

  .card-content {
    font-size: 18px;
    color: grey;
    
  }
  
  footer.page-footer {
    padding-top: 1;
    text-align: right;
    position: relative;
    background-color:lightgrey;
  }
  

  .destination-form{
   color:beige;
  }