{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="signup">
    <div class="flex-container" style="display: flex; align-items: center; justify-content: space-between;">
      <img src="{% static 'assets/images/hero_img.png' %}" alt="Hero Image">
      <div class="signup-form">
        <h1>Sign Up</h1>
        <p class="red-text">{{ error_message }}</p>
        <form method="POST" action="{% url 'signup' %}">
          <div class="card">
            <div class="card-content">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" class="btn" value="Sign Up">
        </form>
      </div>
    </div>
  </div>
{% endblock %}