{% extends 'base.html' %} {% load static %} {% block content %}
<h1>Destination List</h1>
<div class="container mt-5">
  {% if object_list %}
  <div class="row">
    {% for destination in object_list %}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          {% with first_photo=destination.photos_set.first %} 
            {% if first_photo%}
          <img class="responsive-img card-panel" src="{{ first_photo.url }}" />
            {% else %}
          <div class="card-panel teal-text center-align">
            No Photos
          </div>
            {% endif %} 
          {% endwith %}
          <a href="{% url 'destinations_detail' pk=destination.id %}"
            >{{ destination.name }}</a
          >
          <p>{{ destination.country }}</p>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:"3" and not forloop.last %}
  </div>
  <div class="row">{% endif %} {% endfor %}</div>
  {% else %}
  <p>
    No destinations yet.
    <a href="{% url 'destinations_create' %}">Create your first destination!</a>
  </p>
  {% endif %}
</div>
{% endblock %}
