{% extends 'base.html' %} {% load static %} {% block content %}

<button style="background-color: #9cc8e1; border: none; margin-top: 50px; padding: 10px 20px; border-radius: 20px; font-weight: bolder;">
  <a href="{% url 'destinations_create' %}">Add a Destination</a>
</button>

<div style="margin-bottom: 30px;">
<h1>Places to go</h1>
<div >
  {% if object_list %}
  <div class="row">
    {% for destination in object_list %}
    <div class="col s12 m4">
      <div >
        <div class="card-content">
          {% with first_photo=destination.photos_set.first %} 
            {% if first_photo%}
          <img class="responsive-img" src="{{ first_photo.url }}" style="height: 200px; width: auto;" />
            {% else %}
          <div class="teal-text center-align">
            No Photos
          </div>
            {% endif %} 
          {% endwith %}
          <a href="{% url 'destinations_detail' pk=destination.id %}"
            >{{ destination.name }}</a>
          
          <p>{{ destination.country }}</p>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:"3" and not forloop.last %}
  </div>
  <div class="row">{% endif %} {% endfor %}</div>
  {% else %}
  <p>
    No destinations yet.
    <a href="{% url 'destinations_create' %}">Create your first destination!</a>
  </p>
  {% endif %}
</div>
</div>
{% endblock %}
