{% extends 'base.html' %} {% block content %}
<h1>This is Trips Index</h1>

{% if object_list %}
<ul>
  {% for trip in object_list %}
  <li
    style="
      background-color: #9cc8e1;
      margin-bottom: 10px;
      height: 200px;
      width: 400px;
    "
  >
    <a href="{% url 'trips_detail' pk=trip.id %}" style="font-size: x-large"
      >{{ trip.name }}</a
    >
    <p>- Start Date: {{ trip.startDate }}</p>
    <p>- End Date: {{ trip.endDate }}</p>
    <p>- Budget: {{ trip.budget }}</p>

    {% if trip.destination_ids %} - Destination: {{ trips.destination_ids.all }}
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>
  No trips yet. <a href="{% url 'trips_create' %}">Create your first trip!</a>
</p>
{% endif %} {% endblock %}
