{% extends 'base.html' %} {% block content %}

<div class="about-section" style="margin-bottom: 50px">
  <h1>About Wanderlust</h1>
  <p>
    At Wanderlust, we're committed to transforming travel planning into an
    enjoyable journey in itself. Say goodbye to fragmented processes and embrace
    a new era of seamless and personalized travel adventures.
  </p>

  <h4>What we offer</h4>
  <ul>
    <li>
      Efficient and Streamlined: The app offers a seamless and organized
      approach to trip planning, eliminating the fragmentation and inefficiency
      typically associated with the process.
    </li>

    <li>
      Collaborative Exploration: With a user-friendly platform for
      coordination, the app allows travelers to easily collaborate with fellow
      adventurers, making it easier to plan and execute group trips.
    </li>

    <li>
      Personalization: The app enables users to customize their itineraries
      based on their preferences and interests, ensuring a personalized and
      tailored travel experience.
    </li>

    <li>
      Budget Management: The app includes features that help users track and
      manage their travel expenses, allowing for better budget planning.
    </li>

    <li>
      Future Explorations: The app keeps track of users' past trips, enabling
      them to reminisce about their adventures and use those experiences to plan
      future journeys. This feature encourages continuous exploration and
      discovery.
    </li>
  </ul>
</div>
{% endblock %}
